[buildout]
parts =
    instance
    omelette

extends =
    http://dist.plone.org/release/5-latest/versions.cfg
unzip = true
develop = .

extensions = mr.developer
sources = sources
sources-dir = ${buildout:directory}/devsrc
auto-checkout = *
always-checkout = true

[versions]
setuptools =

[sources]
plone.app.async =           git git@github.com:plone/plone.app.async.git
soundcloudapi =             git git@github.com:bluedynamics/soundcloudapi.git
yafowil =                   git git@github.com:bluedynamics/yafowil.git
yafowil.plone =             git git@github.com:bluedynamics/yafowil.plone.git
yafowil.widget.datetime =   git git@github.com:bluedynamics/yafowil.widget.datetime.git
yafowil.yaml =              git git@github.com:bluedynamics/yafowil.yaml.git

[instance]
recipe = plone.recipe.zope2instance
http-address = 8080
user = admin:admin
eggs =
    Pillow
    collective.soundcloud

[omelette]
recipe = collective.recipe.omelette
ignore-develop = true
eggs =
    ${instance:eggs}

